/* Mise en page */

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* cadre du milieu */

.container {
    background: white;
    border-radius: 12px;
    border: 1px solid rgba(107, 104, 120, 0.25);
    padding: 2.5rem;
    width: 100%;
    max-width: 420px;
}

.entete {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--rouge);
}

/* Entete */

.logo {
    font-size: 36px;
    margin-bottom: 8px;
}

.titre {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--noir);
    margin-bottom: 4px;
}

 .sous-titre {
    font-family: 'Cinzel', serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--rouge);
    opacity: 0.75;
 }

/* Formulaire */

.champ {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.champ label {
    font-family: 'Cinzel', serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--rouge); 
    opacity: 0.75;
}

.champ input {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    padding: 10px 14px; 
    border: 1px solid rgba(107, 104, 120, 0.3);
    border-radius: 8px;
    background: var( --blanc-casse); 
    color: var(--noir);
    outline: none;
    transition: border-color 0.2s;
}

.champ input:focus {
    border-color: var(--or);
}

.champ input.valid {
    border-color: rgba(107, 104, 120, 0.5);
}

.champ input.erreur-champ {
    border-color: var(--rouge);
}

