/* Color theme for the website */
:root {
    --gris-violet: #6B6878;
    --blanc-casse: #E3E2DF;
    --or: #A8913A;
    --rouge: #8B0000;
    --noir: #0D0D0D;
}

/* Reset de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    background: var(--blanc-casse);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */ 

.header {
    background: var(--noir);
    border-bottom: 2px solid var(--rouge);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.header-logo-text {
    display: flex;
    flex-direction: column;
}

.header-logo-name {
    font-family: 'Cinzel', serif;
    font-size: 14px;    
    font-weight: 600;
    color: var(--blanc-casse);
    letter-spacing: 1px;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-link {
    font-family: 'Cinzel', serif;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-overflow: uppercase;
    color: var(--blanc-casse);
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.nav-link:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.07);
}

.nav-link:active {
    opacity: 1;
    border: 1px solid var(--rouge);
    border-radius: 0;
}