/* Color theme for the website */
:root {
    --gris-violet: #6B6878;
    --blanc-casse: #E3E2DF;
    --or: #A8913A;
    --rouge: #8B0000;
    --noir: #0D0D0D;
}

/* Reset de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    background: var(--blanc-casse);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */ 

.header {
    background: var(--noir);
    border-bottom: 2px solid var(--rouge);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.header-logo-text {
    display: flex;
    flex-direction: column;
}

.header-logo-name {
    font-family: 'Cinzel', serif;
    font-size: 14px;    
    font-weight: 600;
    color: var(--blanc-casse);
    letter-spacing: 1px;
}