/* exemple du env. */

PORT=3000
MONGO_URL=mongodb://mongo:27017/mjfacility
JWT_SECRET=ton_secret_jwt_ici
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ton_mot_de_passe_admin
MYSQL_ROOT_PASSWORD=ton_mot_de_passe_root
MYSQL_DATABASE=mjfacility
MYSQL_HOST=mysql
MYSQL_PORT=3306